APP_NAME=i-Educar Cidade 1
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8081
APP_TIMEZONE=America/Sao_Paulo
APP_TRACK_ERROR=true
APP_DEFAULT_HOST=localhost

ASSETS_SECURE=false

API_ACCESS_KEY=
API_SECRET_KEY=

LEGACY_CODE=true
LEGACY_DISPLAY_ERRORS=true
LEGACY_PATH=ieducar
LOG_CHANNEL=stack
LOG_FILE_PERMISSION=0777

TELESCOPE_ENABLED=false

DB_CONNECTION=pgsql
DB_HOST=10.10.10.20
DB_PORT=5432
DB_DATABASE=ieducar_cidade1
DB_USERNAME=ieducar
DB_PASSWORD=ieducar

DB_HOST_IDIARIO=
DB_PORT_IDIARIO=
DB_NAME_IDIARIO=
DB_USER_IDIARIO=
DB_PASSWORD_IDIARIO=

BROADCAST_DRIVER=null
CACHE_DRIVER=redis
CACHE_STORE=redis
CACHE_TTL=604800
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=ieducar_cidade1_session

REDIS_HOST=redis_cidade1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=ieducar_cidade1_

SENTINEL_HOSTS=localhost
SENTINEL_PORT=26379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

HONEYBADGER_API_KEY=

GOOGLE_TAG_MANAGER=

FILESYSTEM_DISK=local

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

MIX_SOCKET_SERVER=127.0.0.1
MIX_SOCKET_PORT=6001

ANNUAL_CONCEPT=true
