REGISTRY_HOST=container-registry.br-ne1.magalu.cloud
REGISTRY_NAMESPACE=ieducar
IMAGE_TAG=2.10.0

APP_IMAGE=${REGISTRY_HOST}/${REGISTRY_NAMESPACE}/ieducar-app:${IMAGE_TAG}
NGINX_IMAGE=${REGISTRY_HOST}/${REGISTRY_NAMESPACE}/ieducar-nginx:${IMAGE_TAG}

ENV_CIDADE1_FILE=.env.igaci
CIDADE1_SLUG=igaci

SERVER_NAME_CIDADE1=ieducar.igaci.ensino.site

PORTA_CIDADE1=81

ENABLE_PACKAGE_REPORTS=true
ENABLE_PACKAGE_EDUCACENSO=true
ENABLE_PACKAGE_TRANSPORTE=true
ENABLE_PACKAGE_PRE_MATRICULA=true
ENABLE_PACKAGE_DESPESAS=false
ENABLE_PACKAGE_MERENDA=false

# Opcional: branch/tag por pacote
PACKAGE_REF_REPORTS=
PACKAGE_REF_EDUCACENSO=
PACKAGE_REF_TRANSPORTE=
PACKAGE_REF_PRE_MATRICULA=
PACKAGE_REF_DESPESAS=
PACKAGE_REF_MERENDA=

# Necessario para repositorios privados (despesas/merenda, se habilitados)
GIT_TOKEN=
